:root {
  --bg-color: #ffffff;
  --text-main: #1a1a1a;
  --text-muted: #555555;
  --accent: #bda588;

  --transition: all 0.3s ease-in-out;

  --container-width-lg: 88%;
  --container-width-md: 92%;

  --heading-font: "Playfair Display", serif;
  --para-font: "Plus Jakarta Sans", sans-serif;
}

/* GLOBAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--para-font);
  overflow-x: hidden;
}

h1,
h2,
h3,
.logo {
  font-family: var(--heading-font);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

header {
  border-bottom: 0.02rem solid rgb(85, 85, 85, 0.1);
  padding: 1.5rem;
}

img {
  width: 100%;
  height: 100%;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* LOCAL CSS */
.header-wrapper {
  display: flex;

  justify-content: space-between;
  font-size: 1.2rem;
}

.logo {
  color: var(--text-main);
  font-size: 2.2rem;
}

.logo span {
  color: var(--accent);
  font-style: italic;
}

/* nav */
nav ul {
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: var(--text-muted);
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--accent);
}

/* Hero Section */
.hero-section .hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.hero-content h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

.hero-content p {
  font-size: 1.1rem;
  color: var(--text-muted);
  padding-right: 15%;

}

.hero-content button {
  background: var(--text-main);
  color: var(--bg-color);
  border: var(--text-main);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.35rem;
  transition: var(--transition);
}

.hero-content button:hover {
  background: var(--accent);
  color: var(--bg-color);
  border: var(--accent);
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.bento-grid .image-wrapper {
    border-radius: 1rem;
    overflow: hidden;
}

.bento-grid .image-wrapper:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

/* Timeless Love,
 Artfully Captured. */
